@font-face {
  font-family: Pacifico-Regular;
  src: url("../public/fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Pacifico-Regular;
  src: url("../public/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url("../public/fonts/Ubuntu-Regular.ttf");
}
body {
  margin: 0;
}

input {
  border-radius: 5px;
  padding: 6px 24px;
  margin: 0;
  border: none;
}

#main-header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #4cc2c0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

#main-header a {
  text-decoration: none;
}

#logo {
  font-size: 24px;
  font-weight: 700;
  color: rgb(55, 55, 55);
}

#logopic {
  width: 150px;
  height: 100px;
  background-color: rgba(43, 39, 39, 0.466);
  margin: 0 auto;
  position: relative;
  top: 750px;
}
.search-container {
  justify-content: center;
}
.fa-search {
  position: absolute;
  top: 30px;
}

#main-nav ul {
  list-style: none;
  margin: 0;
  padding-right: 100px;
  display: flex;
}

#main-nav ul li {
  margin: 0 16px;
  /* margin-left: 16px;
    margin-right: 16px; */
}

#main-nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#logo {
  font-family: Pacifico-Regular;
}
#hero {
  height: 1000px;
  background-image: url("./HD-Surf-Beach-Wallpaper-1.jpg");
  background-position: center;
  background-size: cover;
}

.herocontainer {
  display: flex;
  align-items: center;
}

#hero-content1 {
  width: 500px;
  border: 1px solid #ccc;
  background-color: rgba(23, 105, 199, 0.459);
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  top: 150px;
  font-family: Ubuntu-Regular;
  display: flex;
  flex-direction: column;
  animation-name: lefttoright;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes lefttoright {
  0% {
    left: 0px;
  }

  100% {
    left: 900px;
  }
}

#hero-content2 {
  width: 500px;
  background-color: rgba(23, 105, 199, 0.459);
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 150px;
  border-radius: 10px;
  font-family: Pacifico-Regular;
  animation-name: righttoleft;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
@keyframes righttoleft {
  0% {
    right: 0px;
  }

  100% {
    right: 900px;
  }
}

#hero-content1 h1 {
  color: #f6bd60;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
#hero-content1 p {
  color: #f7ede2;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content2 h1 {
  color: #f6bd60;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

#hero-content2 p {
  color: #f7ede2;
  text-decoration: border-box;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content2 label {
  color: #f7ede2;
  text-decoration: border-box;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 32px;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.loginbtn {
  background-color: turquoise;
  border-radius: 10px;
  width: 100%;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
