h1 {
  color: grey;
  text-align: center;
  font-family: "Zen Kurenaido";
}
p {
  color: black;
  text-align: center;
  font-family: "Fira Sans";
  font-weight: "400";
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: rgb(55, 0, 255);
  text-decoration: underline;
}
#orange-block {
  color: rgb(182, 146, 83);
  font-size: 40px;
  font-weight: bold;
}
